In [3]:
!pip3 install numpy

Requirement already satisfied: numpy in c:\users\asus\anaconda3\lib\site-packages (1.26.4)

In [4]:
import pandas as pd

In [10]:
stack_df= pd.read_csv('survey_results_public.csv')

In [18]:
stack_df['ResponseId'].count()

65437

#  1) Ankete Toplam 65437 kişi katıldı.

In [35]:
stack_df['ResponseId'].count()

0

In [111]:
stack_df.dropna(inplace=True)

In [112]:
stack_df

Empty DataFrame
Columns: [ResponseId, MainBranch, Age, Employment, RemoteWork, Check, CodingActivities, EdLevel, LearnCode, LearnCodeOnline, TechDoc, YearsCode, YearsCodePro, DevType, OrgSize, PurchaseInfluence, BuyNewTool, BuildvsBuy, TechEndorse, Country, Currency, CompTotal, LanguageHaveWorkedWith, LanguageWantToWorkWith, LanguageAdmired, DatabaseHaveWorkedWith, DatabaseWantToWorkWith, DatabaseAdmired, PlatformHaveWorkedWith, PlatformWantToWorkWith, PlatformAdmired, WebframeHaveWorkedWith, WebframeWantToWorkWith, WebframeAdmired, EmbeddedHaveWorkedWith, EmbeddedWantToWorkWith, EmbeddedAdmired, MiscTechHaveWorkedWith, MiscTechWantToWorkWith, MiscTechAdmired, ToolsTechHaveWorkedWith, ToolsTechWantToWorkWith, ToolsTechAdmired, NEWCollabToolsHaveWorkedWith, NEWCollabToolsWantToWorkWith, NEWCollabToolsAdmired, OpSysPersonal use, OpSysProfessional use, OfficeStackAsyncHaveWorkedWith, OfficeStackAsyncWantToWorkWith, OfficeStackAsyncAdmired, OfficeStackSyncHaveWorkedWith, OfficeStackSyncWantToWorkWith, OfficeStackSyncAdmired, AISearchDevHaveWorkedWith, AISearchDevWantToWorkWith, AISearchDevAdmired, NEWSOSites, SOVisitFreq, SOAccount, SOPartFreq, SOHow, SOComm, AISelect, AISent, AIBen, AIAcc, AIComplex, AIToolCurrently Using, AIToolInterested in Using, AIToolNot interested in Using, AINextMuch more integrated, AINextNo change, AINextMore integrated, AINextLess integrated, AINextMuch less integrated, AIThreat, AIEthics, AIChallenges, TBranch, ICorPM, WorkExp, Knowledge_1, Knowledge_2, Knowledge_3, Knowledge_4, Knowledge_5, Knowledge_6, Knowledge_7, Knowledge_8, Knowledge_9, Frequency_1, Frequency_2, Frequency_3, TimeSearching, TimeAnswering, Frustration, ProfessionalTech, ProfessionalCloud, ProfessionalQuestion, ...]
Index: []

[0 rows x 114 columns]

## 2) Toplam 0 kişi hepsini cevapladı

In [113]:
stack_df= pd.read_csv('survey_results_public.csv')

## 3) WorkExp ile ilgili Merkezi Eğilim Ölçüleri

In [121]:
stack_df.dropna(subset ='WorkExp', inplace = True)

In [128]:
print(stack_df['WorkExp'].mean())
print(stack_df['WorkExp'].median())
print(stack_df['WorkExp'].mode())

11.46695663901814
9.0
0    3.0
Name: WorkExp, dtype: float64

In [193]:
stack_df[(stack_df['RemoteWork']=='Remote')].count()

ResponseId             20831
MainBranch             20831
Age                    20831
Employment             20831
RemoteWork             20831
                       ...
JobSatPoints_11        11186
SurveyLength           18352
SurveyEase             18370
ConvertedCompYearly     9591
JobSat                 11103
Length: 114, dtype: int64

## 4)Toplam 20831 Remote olarak çalışmakta

In [61]:
stack_df.shape

(65437, 114)

In [546]:
stack_df.iloc[0:3,0:4]

,ResponseId,MainBranch,Age,Employment
72,73,I am a developer by profession,18-24 years old,"Employed, full-time;Student, full-time;Indepen..."
379,380,I am a developer by profession,35-44 years old,"Employed, full-time"
389,390,I am a developer by profession,25-34 years old,"Employed, full-time;Student, part-time"

In [348]:
stack_df= pd.read_csv('survey_results_public.csv')

In [350]:
Total_responds=stack_df['LanguageHaveWorkedWith'].notna().sum()
Python_usernumbers=stack_df['LanguageHaveWorkedWith'].dropna().transform(lambda x: 'Python' in x.split(';')).sum()

In [351]:
print(Total_responds)
print(Python_usernumbers)
print(Python_usernumbers/Total_responds* 100)

59745
30719
51.416854966942836

## 5)yüzde 51 python ile program yapıyor

In [345]:
stack_df= pd.read_csv('survey_results_public.csv')

In [346]:
learncode= stack_df['LearnCode'].dropna()
Online_users= learncode.transform(lambda x: 'Online Courses or Certification' in x).sum()

In [347]:
Online_users

30271

## 6) toplam 30271 kişi online kurs ile programlama öğrendi

In [243]:
stack_df= pd.read_csv('survey_results_public.csv')

In [244]:
usernumbers_nona_df=stack_df[['Country','ConvertedCompYearly','LanguageHaveWorkedWith']].dropna()

In [340]:
Python_user_df = usernumbers_nona_df[usernumbers_nona_df['LanguageHaveWorkedWith'].transform(lambda x: 'Python' in x.split(';'))]

In [341]:
group_country= Python_user_df.groupby('Country')['ConvertedCompYearly'].mean()

In [342]:
group_country= Python_user_df.groupby('Country')['ConvertedCompYearly'].agg(['mean','median'])

In [343]:
group_country_sorted = group_country.sort_index(ascending=True)

In [344]:
print(group_country_sorted.head(7))

                      mean    median
Country
Afghanistan    6057.000000    5940.0
Albania       56295.000000   56295.0
Algeria        9053.285714    6230.0
Andorra      193331.000000  193331.0
Angola            6.000000       6.0
Argentina     41243.333333   24000.0
Armenia       17329.666667    6450.0

## 7) Her ülke için ortalama ve medyan yıllık tazminat (ConvertedCompYearly)

In [366]:
stack_df= pd.read_csv('survey_results_public.csv')

In [387]:
stack_df.dropna(subset=["CompTotal","EdLevel"], inplace=True)

In [388]:
max_5 = stack_df.nlargest(5,'CompTotal')[['CompTotal', 'EdLevel']]

In [ ]:
max_5 = stack_df.nlargest(5, 'CompTotal')[['CompTotal', 'EdLevel']]

In [389]:
max_5

           CompTotal                                         EdLevel
14354  1.000000e+150    Bachelor’s degree (B.A., B.S., B.Eng., etc.)
34278   1.000000e+65                                  Something else
17374   1.000000e+53    Bachelor’s degree (B.A., B.S., B.Eng., etc.)
8814    1.000000e+44  Professional degree (JD, MD, Ph.D, Ed.D, etc.)
20037   8.000000e+27  Professional degree (JD, MD, Ph.D, Ed.D, etc.)

## 8) En yüksek katılıma sahip 5 katılımcının Eğitim seviyesi

## Bonus 1)

In [606]:
stack_df= pd.read_csv('survey_results_public.csv')

In [607]:
n_df = stack_df[['Age', 'LanguageHaveWorkedWith']].dropna()

In [608]:
Total_responds=stack_df['LanguageHaveWorkedWith'].notna().sum()
n_df = n_df[n_df['LanguageHaveWorkedWith'].apply(lambda x:'Python' in x.split(';'))]

In [609]:
python_user= n_df.groupby('Age').size()

In [610]:
print(python_user/ Total_responds*100)

Age
18-24 years old       13.169303
25-34 years old       18.289397
35-44 years old       10.357352
45-54 years old        4.370240
55-64 years old        1.734036
65 years or older      0.482049
Prefer not to say      0.242698
Under 18 years old     2.771780
dtype: float64

##  Bonus 2)

In [611]:
stack_df= pd.read_csv('survey_results_public.csv')

In [612]:
stack_df= stack_df.dropna(subset=["RemoteWork","ConvertedCompYearly","Industry"])

In [613]:
quarter_df =stack_df[(stack_df['ConvertedCompYearly']>= stack_df["ConvertedCompYearly"].quantile(0.75)) & (stack_df['RemoteWork'] =='Remote')]

In [614]:
print(quarter_df["Industry"].value_counts().head(8))

Industry
Software Development                          767
Other:                                        238
Healthcare                                    156
Fintech                                       155
Internet, Telecomm or Information Services    144
Retail and Consumer Services                  106
Media & Advertising Services                  102
Banking/Financial Services                     69
Name: count, dtype: int64